$color_1: #0c18e7;
$color_2: #444;
$color_3: #fff;
$border_color_1: #ccc;
$border_color_2: #fff;
$border_color_3: #0c18e7;
body{
  padding: 0;
  margin: 0;
  display: block;
}
.material-icons{
  color: $color_3;
}
div.header{
  background: $color_2;
  padding: 1em;
  margin: 0;
  .logo i{
    text-align: center;
    font-size: 48px;
  }
  h1{
    color:$color_3;
    text-align: center;
  }
}
div.content{
  padding: 10px;
  .row{
    padding: 10px;
  }
  form div.row{
    div{
      padding-left: 0;
      padding-right: 5px;
    }
  }
}


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
