body {
  padding: 0;
  margin: 0;
  display: block;
}

.material-icons {
  color: #fff;
}

div.header {
  background: #444;
  padding: 1em;
  margin: 0;
}

div.header .logo i {
  text-align: center;
  font-size: 48px;
}

div.header h1 {
  color: #fff;
  text-align: center;
}

div.content {
  padding: 10px;
}

div.content .row {
  padding: 10px;
}

div.content form div.row div {
  padding-left: 0;
  padding-right: 5px;
}

